<div>
    <p> Check out the newest and coolest posts about all tech!</p>
</div>

<ul class="list-post">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>